.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: var(--text-color);
  margin-top: 100px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.icons a {
  color: var(--text-color);
  transition: transform 0.2s ease;
}

.icons a:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

.copy {
  font-size: 0.9rem;
  color: var(--text-color);
}
